/*Fuentes*/
@font-face {
    font-family: "fuente1";
    src: url("Fuentes/Monoton/Monoton-Regular.ttf") format("truetype");
  }
  @font-face {
      font-family: "fuente2";
      src: url("Fuentes/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
    }
    @font-face {
      font-family: "fuente3";
      src: url("Fuentes/VT323/VT323-Regular.ttf") format("truetype");
    }
    #titulo{
        font-family: "fuente1", cursive;
        text-align: center;
        color:#d34503;
        font-size: 36px;
    }
/*Elementos principales*/
body{
    background-color: darkblue;
}
#titulo{
    font-family: "fuente1", cursive;
    text-align: center;
    color:#d34503;
    font-size: 36px;
}
a{
    color: black;
    text-decoration: none;
}

/*Paginas de seleccion*/
.seleccion{
    font-family: "fuente2", sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #FFCC33;
    position: sticky;
    top: 0;
}
.select, #presente{
    border: solid;
    width: 350px;
    text-align: center;
    height: 50px;
    font-size: 20px;
}
.select:hover, #presente:hover{
    border: solid;
    color: rgb(0, 0, 0);
    background-color: #9c7911;
    text-decoration: underline;
}


.logo{
    margin-top: 10px;
    margin-left: 445px;
    margin-right: auto;
    width: 30%;
}
.todo{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(2, 179, 179, 0.514) ;
    width: 85%;
  }
  p{
    margin-left: 10px;
    margin-right: 20px;
    font-family: "fuente3", monospace;
    text-align: justify;
    color:#53ec53;
    font-size: 26px;
  }