*{
    margin: 15px, 10px; 
}
@font-face {
   font-family: "fuente1";
   src: url("Fuentes/Monoton/Monoton-Regular.ttf") format("truetype");
 }
 @font-face {
     font-family: "fuente2";
     src: url("Fuentes/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
   }
   @font-face {
     font-family: "fuente3";
     src: url("Fuentes/VT323/VT323-Regular.ttf") format("truetype");
   }
body
{
   background-color: #094bbc;
}


h1
{
    font-family: "fuente1", sans-serif;
    text-align: center;
    color: #ce7100;
    font-size: 30px;
}


h2{
    font-family: 'VT323', monospace;
    font-size: 25px;
    text-align: justify;
    color:#1F9F26;
 }

#test
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #ffffff;
}

p
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   text-align: left;
   color: #ffffff;
}
.seleccion{
   font-family: "fuente2", sans-serif;
   margin-left: auto;
   margin-right: auto;
   border-collapse: collapse;
   background-color: #FFCC33;
   position: sticky;
   top: 0;
}
.select, #presente{
   border: solid;
   width: 350px;
   text-align: center;
   height: 50px;
   font-size: 20px;
}
a{
   color: black;
   text-decoration: none;
   font-size: 30px;
}
.select:hover, #presente:hover{
   border: solid;
   color: rgb(0, 0, 0);
   background-color: #9c7911;
   text-decoration: underline;
}
#titulo{
   font-family: "fuente1", cursive;
   text-align: center;
   color:#d34503;
   font-size: 36px;
}