#titulo1{
    font-size: 20px;
}
#uno, #dos{
    background-color: rgb(244, 244, 200);
}
p,#parrafo1{
    text-align: justify;
}
#parrafo1{
    color: rgb(136, 177, 54);
}
h2{
    color: blue;
}