*{
    padding: 5px;
}
div{
    margin-left: 40%;
    margin-right: 40%;
    width: 100%;
    background-color:rgba(180, 65, 65, 0);
}

#nombre, #apellipa, #apellima, #Byear, #Bmonth, #Bday,#rfc{
    border: 1px black solid;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    font-size: 20px;
}
label,#nombre, #apellipa, #apellima, #Byear, #Bmonth, #Bday,#rfc{
    margin-left: 20px;
    font-size: 20px;
}
#generar{
    width: 300px;
    color:rgb(0, 0, 0);
    font-size: 30px;
    background-color: rgb(73, 182, 233);
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}
#generar:hover{
    background-color: rgb(138, 218, 255);
    cursor: pointer;
}